.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create two columns */
    grid-template-rows: repeat(2, 1fr);
    /* Create two rows */
    gap: 10px;
    /* Optional: Add space between parts */
    height: 40vh;
    /* Optional: Make the container fill the viewport height */
}

.name {
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    margin: auto;

}

#name {
    padding: 8px 10px;
    border: none;
    margin: auto;
}

.part {

    /* Optional: Add borders for visual separation */
}



.submit-btn {
    background-color: #0a0a0a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.submit-btn1 {
    background-color: #0a0a0a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;

}

.submit-btn:hover {
    background-color: #4583a0;
}

.img {
    display: none;
}

.imgstyle {
    overflow: hidden;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding: 90px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 18px 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}