.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create two columns */
    grid-template-rows: repeat(2, 1fr);
    /* Create two rows */
    gap: 10px;
    /* Optional: Add space between parts */
    height: 40vh;
    /* Optional: Make the container fill the viewport height */
}





.part {

    /* Optional: Add borders for visual separation */
}



.submit-btn {
    background-color: #2c3dd4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 55%;
}

.submit-btn:hover {
    background-color: #45a049;
}